:root {
  --primary-color1: #f4ce14;
  --primary-color2: #495e57;
  --secondary-color1: #ee9972;
  --secondary-color2: #fbdabb;
  --secondary-color3: #edefee;
  --secondary-color4: #333333;
  --border-radius: 16px;
}
.text-primary-1 {
  color: var(--primary-color1);
}
.text-primary-2 {
  color: var(--primary-color2);
}
.text-secondary-1 {
  color: var(--secondary-color1);
}
.text-secondary-2 {
  color: var(--secondary-color2);
}
.text-secondary-3 {
  color: var(--secondary-color3);
}
.text-secondary-4 {
  color: var(--secondary-color4);
}
.bg-primary-1 {
  background-color: var(--primary-color1);
}
.bg-primary-2 {
  background-color: var(--primary-color2);
}
.bg-secondary-1 {
  background-color: var(--secondary-color2);
}
.bg-secondary-2 {
  background-color: var(--secondary-color2);
}
.bg-secondary-3 {
  background-color: var(--secondary-color3);
}
.bg-secondary-4 {
  background-color: var(--secondary-color4);
}
.bold {
  font-weight: bold;
}

* {
  padding: 0px;
  margin: 0px;
}
#root {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto auto auto;
}
header {
  background-color: white;
  padding: 50px;
}
footer {
  background-color: var(--secondary-color3);
  padding: 50px;
}
header nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  column-gap: 20px;
  padding-left: 18%;
}
header nav ul {
  display: flex;
  list-style: none;
  column-gap: 20px;
}
header nav li {
  font-weight: bold;
}
.nav-item {
}
.nav-link {
  text-decoration: none;
  color: black;
}
footer > ul {
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 50px;
  padding: 0px;
}
footer ul li ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

footer li {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-image {
  width: 200px;
  height: 100%;
  border-radius: var(--border-radius);
}

main {
  min-height: 90vh;
}
.super-title {
  font-size: 64px;
  font-weight: bold;
}
.sub-title {
  font-size: 20px;
  font-weight: bold;
}
.description-text {
  font-size: 18px;
}

.hero-section {
  padding: 30px;
  padding-left: 20%;
  position: relative;
}
.btn {
  border-radius: var(--border-radius);
  padding: 10px;
  border: none;
  height: fit-content;
  width: fit-content;
  color: var(--secondary-color4);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.hero-section .description-text {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.hero-section img {
  width: 300px;
  height: 350px;
  position: absolute;
  border-radius: var(--border-radius);
  top: 10%;
  left: 55%;
}

section {
  padding: 30px;
}
.text-black {
}
.highlights-section {
  padding-top: 80px;
}
.highlights-section-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
.dish-container {
  display: flex;
  justify-content: space-evenly;
}

.dish {
  width: 25%;
  padding-bottom: 20px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.dish-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.dish-image {
  width: 100%;
  height: 200px;
  border-radius: inherit;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.dish-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.dish-button {
  margin-top: 15px;
}
.text-center {
  text-align: center;
}
.text-gold {
  color: gold;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.testimonial {
  background-color: white;
  width: fit-content;
  padding: 10px;
  border-radius: var(--border-radius);
}
.testimonial > * {
  margin-bottom: 5px;
  font-size: 30px;
}

.f-size-xl {
  font-size: 3rem;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mx-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.testimonial-container {
  margin-top: 100px;
}
.testimonials-section {
  padding-bottom: 200px;
}

.about-section {
  /* padding-left: 20%; */
  min-height: 360px;
}
.about-content{
  width: 45%;
}

.about-section .description-text {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.about-image-1 {
  width: 15rem;
  top:0;
  left:-5rem;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 4;
}
.about-image-2 {
  width: 15rem;
  top:30%;
  right:0;
  height: 100%;
  border-radius: var(--border-radius);
  position: absolute;
}

.p-relative{
  position: relative;
}
.nav-link:hover{
  color: var(--primary-color1);
}

.btn:hover{
  background-color: var(--primary-color2);
}